.cards__meteors .m1, .forms__meteors .m1, .cards__meteors .m2, .forms__meteors .m2, .cards__meteors .m3, .forms__meteors .m3 {
	will-change: transform, opacity;
}
.text-invert{
	color: white;
}
// 2 block
.feat{
	padding: 220px 0 0px;
	text-align: center;
	position: relative;
	overflow: hidden;

	background-size: cover;
	z-index: 2;
	margin-top: -320px;
	
	.container{
		position: relative;
		z-index: 2;
	}
	h2{
		max-width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.feat__bg{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}
	
}

.feat__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 470px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.feat-item {
    text-align: center;
    display: flex;
    justify-content: flex-start;
    flex: 0 0 50%;
    flex-flow: column wrap;
    margin-bottom: 35px;
    align-items: center;
}

.feat-item__icon {
    flex: 0 0 50%;
    margin-bottom: 20px;
}

.feat-item__body {
    flex: 0 0 50%;
}

.feat-item__body span {
    font-size: 18px;
    line-height: 22px;
}

.feat-video{
	position: relative;
	margin-top: 50px;
	box-shadow: 0px 8px 14.88px 1.12px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	video{
		width: 100%;
		height: auto;
		max-height: 100%;
		min-height: 340px;
	}
	.video__trigger{
		position: absolute;
		left: 50%;
		top: 50%;
		width: 75px;
		height: 75px;
		background-color: #fff;
		border-radius: 100%;
		transform: translate(-50%, -50%);
		z-index: 2;
		cursor: pointer;
		box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.1);
		&:before{
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			border-left: 19px solid #df134b;
			border-top: 11px solid transparent;
			border-bottom: 11px solid transparent;
			display: block;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			z-index: 3;
		}
		&:after{
			content: "";
			position: absolute;
			width: 95px;
			height: 95px;
			background-color: rgba(255,255,255, .22);
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
			border-radius: 100%;
		}
	}
	#thumbnail {
		position: absolute;
		width: 100%;
		height: 136%;
		left: 0;
		top: -18%;

	}
	
}

// 3 block 
.card-box {
	margin-top: 80px;
}
.cards{
	padding-top: 300px;
	position: relative;
	text-align: center;
	overflow: hidden;
	padding-bottom: 280px;
	margin-top: -70px;
	z-index: 3;
	overflow: hidden;
	.container{
		position: relative;
		z-index: 4;
	}
	&:before{
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: url('../img/card_stars.svg') top left repeat;
		background-size: contain;
		z-index: 3;
	}
	
		.orbits{
			position: absolute;
			left: 0%;
			top: -88%;
			width: 100%;
			max-width: 2560px;
			height: 100%;
			z-index: 1;
			min-height: 1090px;
			overflow: hidden;
		.orbit{
			border-radius: 50%;
			border: 1px solid #92bae4;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			opacity: 0.5;
			
			&--large{
				width: 1669px;
				height: 1719px;
				
			}
			&--medium{
				width: 1025px;
				height: 1025px;
				
			}
			
			&--small{
				width: 566px;
				height: 566px;
			
			}
			
		}
	}
	.vawes{
		position: absolute;
		left: 0;
		bottom: 0%;
		width: 100%;
		height: 350px;
		z-index: 0;
		mix-blend-mode: soft-light;
		svg{
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
		}
	}
}
.cards__pattern{
	position: absolute;
	left: -5px;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	svg{
		position: relative;
		height: 100%;
	}
}
#cardsImg {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	z-index: 1;
	path{
		width: 100%;
		height: 100%;
	}
}
.card{
	display: flex;
	flex-flow: column wrap;
	cursor: pointer;
	transition: all ease 0.3s;
	position: relative;
	box-shadow: 0px 0px 0px 0px rgba(0, 33, 87, 0.28);
	z-index: 2;
	max-width: 360px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	transform: scale(1);
	&:hover{
		.card__hover{
			transform: scale(1.02);
			box-shadow: 0px 3px 54px 0px rgba(0, 33, 87, 0.28);
			transition: all ease 0.5s;
		}
		.card__img{
			transform: scale(1.02) translate(0, -5px);
			transition: all ease 0.5s;
			// img{
			// 	transform: translate(0, -5px);
			// }
		}

	}
	.card__hover{
			transition: all ease 0.5s;
			position: absolute;
			width: 100%;
			height: 100%;
			max-width: 360px;
			left: 0%;
			top: 0%;
			background-color: #fff;
			z-index: -1;
		}
}
.card__img {
	flex: 0 0 265px;
	position: relative;
	transition: all ease 0.5s;
	img{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	&.card__img--green {
		background-color: #93ffa2;
	}
	&.card__img--rose {
		background-color: #f9bebe;
	}
	&.card__img--sand {
		background-color: #ffd46d;
	}
}
.card__body {
	flex: 0 0 175px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0px 20px;
	p{
		color: #291139;
		font-size: 20px;
		line-height: 26px;
	}
}
.card-box__footer {
	text-align: center;
	margin-top: 80px;
}
.cards__meteors, .forms__meteors{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 2;
	mix-blend-mode: overlay;
	svg{
		position: absolute;
	}
	.m1{
		left: -25.2%;
		top: -16%;
		transform: translate(5000px, 500px);
		animation: meteor 10s cubic-bezier(0, 0, 0.57, 1.22) infinite;
	}
	.m2{
		left: 54%;
		top: -15%;
		transform: translate(5000px, 500px);
		animation: meteor 11s cubic-bezier(0, 0, 0.47, 1.42) infinite;
	}
	.m3{
		left: 43.5%;
		top: -36.2%;
		transform: translate(5000px, 500px);
		animation: meteor 9s cubic-bezier(0, 0, 0.67, 1.32) infinite;
	}
}

// 4 block
.forms{
	position: relative;
	z-index: 3;
	padding-top: 260px;
	padding-bottom: 100px;
	overflow: hidden;
	background-color: transparent;
	margin-top: -280px;
	.container{
		position: relative;
		z-index: 5;
	}
	
	&:after{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: .88;
		z-index: 3;
		background-size: contain;
		background:  url('../img/forms-stars-bg.png') center top repeat;
	}
	.forms__bg{
		position: absolute;
		top: 45px;
		left: 0;
		width: 100%;
		height: 100%;
		svg{
			height: 100%;
			path{
				&:first-child{
					position: relative;
					transform: translate(33px, 0);
				}
			}
		}
		&--1{
			z-index: 1;
			left: -30px;
			top: 47px;
		}
		&--2{
			z-index: 3;
			left: 0;
		}
	}
	// form
	.form-block {
		max-width: 560px;
		margin-left: auto;
		margin-right: auto;
		font-weight: 400;
		text-align: center;
		color: #fff;
		margin-top: 90px;
		.form-group{
			margin-bottom: 34px;
		}
		.btn-default{
			background: none;
			background-color: transparent;
			border-radius: 0;
			border-color: white;
			color: white;
			text-transform: uppercase;
			font-size: 18px;
			line-height: 24px;
			letter-spacing: 0.02em;
			width: 100%;
			transition: all 0.3s ease;
			padding: 11px;
			&:hover{
				background-color: #fff;
				color: #c25f6d;
			}
		}
		textarea {
				height: 168px !important;
			} 
		legend{
			color: #fff;
			font-size: 28px;
			line-height: 36px;
			letter-spacing: 0.015em;
			border: none;
			margin-bottom: 45px;
		}
		.help-block {
			color: #c3adc0;
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 0.015em;
			text-align: left;
			a{
				color: #fff;
			}

		}

	}

	.form-control{
		background-color: transparent;
		border: 1px solid #fff;
		box-shadow: none;
		border-radius: 0;
		font-size: 17px;
		line-height: 36px;
		letter-spacing: 0.015em;
		color: #fff;
		padding: 15px 17px;
		height: 48px;
		&:focus{
			border-color: #ff9ff3;
			box-shadow: none;
		}
		&::placeholder{
			color: rgba(255,255,255,0.55);
			font-size: 14px;
		}
	}
	.jumbotron {
		border-radius: 6px;
  	background-color: rgb(132, 124, 200);
  	box-shadow: 0px 1px 29px 0px rgba(0, 0, 0, 0.18);
  	text-align: center;
  	padding: 50px 20px;
  	p{
  		margin-left: auto;
  		margin-right: auto;
  	}
	}
	.vawes{
		position: absolute;
		bottom: 0%;
		width: 100%;
		height: 270px;
		z-index: 2;
		svg{
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 100%;
			left: 0;
	}
}
	&__meteors{
		z-index: 3;
	}
}
