.footer__top{
	background-color: $footerbg;
}
.footer__bottom{
	background-color: $copybg;
}
.footer__top {
	padding: 65px 0 80px; 
	h4{
		font-size: 14px;
		text-transform: uppercase;
		margin-top: 0;
		margin-bottom: 20px;
	}
	a{
		color: #fff;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 600;
	}
	p{
		font-size: 14px;
		line-height: 22px;
	}
}
.footer__bottom {
	padding: 20px 0;
	color: #8093ab;
	font-size: 14px;
	line-height: 22px;
	a{
		color: #fff;
		margin-left: 5px;
	}
}
.footer__soc{
	a{	
		width: 40px;
		height: 40px;
		border: 2px solid white;
		margin-right: 5px;
		display: inline-block;
		vertical-align: top;
		line-height: 35px;
		text-align: center;
		transition: all ease 0.3s;
		
		}
	}
.footer__head{
	margin-bottom: 15px;
	display: block;
	margin-top: 20px;
	img{
		margin-right: 10px;
	}
}