// @import "mixins";
.header:before, .star, .orbit--small, .orbit--medium, .orbit--large {
		will-change: transform, opacity;
	}
section{
	padding: 4em 0;
}
header{
	position: relative;
	background-size: cover;
	overflow: hidden;
	padding-bottom: 200px;
	text-align: center;
	&:before{
		content: '';
		background: url('../img/header_stars.svg') top left no-repeat;
		background-size: contain;
		position: absolute;
		left: 0%;
		top: 0%;
		width: 100%;
		height: 100%;
		border-radius: 100%;
		z-index: 3;
		opacity: 1;
		max-height: 1200px;
	}
	// &:after{
	// 	content: '';
	// 	background: url('../img/header_stars.svg') 0% -100% repeat;
	// 	background-size: 99%;
	// 	position: absolute;
	// 	left: 0;
	// 	top: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	z-index: 3;
	// 	animation: moveBg 130s linear infinite;
	// 	animation-direction: alternate;
	// 	opacity: 0.5;
	// 	max-height: 1200px;
	// }
	.container {
		position: relative;
		z-index: 5;
	}
	p{
		font-weight: 400;
		font-size: 22px;
		line-height: 30px;
		letter-spacing: 0.02em;
		margin-top: 30px;
		margin-bottom: 40px;
	}
	.header__logo{
		position: relative;
		overflow: hidden;
		max-height: 40px;
		img{
			max-width: 100%;
			height: auto;
		}
		
		a{
			max-height: 50px;
			display: block;
		}
	}
	.header__logo a {
		height: 0;
		padding-top: 48%;
		position: relative;
	}
	.svg--responsive {
		position: absolute;
		top: -10px;
		left: 0;
		max-width: 208px;
		g{
			&:first-child{
				transform-origin: 8% 50%;
				transform: scale(2);
				opacity: 0;
				transition: all ease-in-out 0.5s;
				transition-delay: 1s;
			}
		}
	}
}
.header__pattern{
	position: absolute;
	left: 50%;
	top: 0%;
	transform: translateX(-50%);
	width: 100%;
	bottom: 0%;


}
.header__vawe {
	position: relative;
	bottom: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;

}
.header__top{
	padding: 1em 0;
}
.header__box{
	margin-top: 20px;
	h1, p {
		color: inherit;
		text-align: center;
	}
}
.header__phone {
	font-size: 15px;
	font-weight: 700;
	a{
		text-decoration: none;
		color: #fff;
		line-height: 1;
	}
}
.box__laptop {
	position: static;
	cursor: pointer;
	img{
		max-width: 100%;
		height: auto;
	}
}

.header__vawes{
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
	mix-blend-mode: soft-light;
	svg{
		position: absolute;
		opacity: 0.54;
		bottom: 0px;
		height: 30%;
		path{
			height: 80%;
		}
	}
	
}

.header{
	overflow: hidden;
	.orbits{
		position: relative;
		top: -100%;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
	}
	.orbit{
		border-radius: 50%;
		border: 1px solid #7f6a9c;
		position: absolute;
		top: -50%;
		
		&:after{
			content: '';
			line-height: 0;
		  display: block;
		  margin-left: 0%;
		  width: 100%;
		  height: 100%;
		  background: linear-gradient(to top, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.0) 0.1%);
		  background-repeat: repeat-x;
		  border-radius: 50%;
		  left: 0;
		  top: 0;
		}
		&:before{
			content: "";
			display: block;
			width: 60px;
			height: 60px;
			border-radius: 50%;
			background: radial-gradient(ellipse at center, 
				rgba(255,255,255,1) 0%,
				rgba(255,255,255,0.8) 10%,
				rgba(83,17,158,0.15) 11%,
				rgba(83,17,158,0.15) 12%,
				rgba(83,17,158,0.15) 35%,
				rgba(70,47,113,0.1) 36%,
				rgba(70,47,113,0.1) 37%,
				rgba(70,47,113,0.1) 100%);
			// border: 8px solid rgba(62,83,17,0.1);
			position: absolute;
			box-sizing: border-box;
		}

	}
	.orbit--large{
		width: 2580px;
		height: 2580px;
		left: 4.16%;
		top: -50%;
		transform: translateY(-50%);
		animation: rotate 10s infinite linear;
		&:before{
			margin-left: 0.4% !important;
			margin-top: 40%;
		}
		&:after{
			transform: rotate(102deg);
			background: linear-gradient(to top, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.0) 0.05%);
		}
		
	}
	.orbit--medium{
		width: 1250px;
		height: 1250px;
		left: 38.2%;
		top: 8%;
		animation: rotate 10s infinite linear;
		animation-direction: inverse;
		// transform: translateY(-50%);
		&:before{
			margin-left: 9.5% !important;
			margin-top: 18%;
		}
		&:after{
			transform: rotate(135deg);
		}

		
	}
	.orbit--small{
		width: 450px;
		height: 450px;
		left: 59.6%;
		top: 50%;
		transform: translateY(-50%);
		animation: rotate 3s infinite linear;
		&:before{
			margin-left: 3.8% !important;
			margin-top: 18%;
		}
		&:after{
			transform: rotate(150deg);
		}
		
	}
	.btn{
		display: inline-block;
	}
}
.stars{
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	
	.star{
		position: relative;
		width: 30px;
		height: 30px;
		mix-blend-mode: screen;
		background: transparent url('../img/stars-sprite.png') no-repeat;
		overflow: hidden;
		text-indent: -9999px;
		text-align: left;
		animation: pulsate 5s ease;
		animation-iteration-count: infinite;
		opacity: 0.7;
		&.star-1{
			left: 16%;
			top: 24%;
			opacity: 1;
			background-position: -20px -183px;
			width: 23px;
			height: 23px;
		}
		&.star-2{
			left: 53%;
			top: 23%;
			opacity: 1;
			background-position: -20px -343px; 
			width: 15px; 
			height: 15px;
		}
		&.star-3{
			background-position: -20px -305px;
			width: 17px;
			height: 18px;
			left: 73%;
			top: 6%;
		}
		&.star-4{
			background-position: -20px -267px;
			width: 18px; 
			height: 18px; 
			left: 35%;
			top: 0%;
		}
		&.star-5{
			background-position: -20px -92px;
			width: 25px;
			height: 25px;
			left: 55%;
			top: 52%;
		}
		&.star-6{
			background-position: -20px -137px;
			width: 25px;
			height: 26px;
			left: 9%;
			top: 50%;
		}
		&.star-7{
			background-position: -20px -226px;
			width: 22px; 
			height: 21px;
			left: 90%;
			top: 40%;
		}
		&.star-8{
			background-color: #fff;
			box-shadow: 0 0 5px 2px #e01b4d;
			filter: blur(2px);
			border-radius: 50%;
			width: 2px;
			height: 2px;
			left: 37%;
			top: 43%;
		}
		&.star-9{
			filter: blur(2px);
			width: 5px;
			height: 5px;
			background-color: #fff;
			border-radius: 50%;
			left: 54%;
			top: 20%;
			
		}
		&.star-10{
			background-position: -20px -0px;
			width: 26px;
			height: 26px;
			left: 84%;
			top: -9%;
		}
		&.star-11{
			background-position: -20px -46px;
			width: 26px;
			height: 26px;
			left: 6%;
			top: 2%;
			
		}
		&:nth-child(odd){
			animation-delay: 0.5s;
		}
	}
}


