@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.eot');
  src: url('../fonts/Lato-Regular.woff2') format('woff2'),
       url('../fonts/Lato-Regular.woff') format('woff'),
       url('../fonts/Lato-Regular.ttf') format('truetype'),
       url('../fonts/Lato-Regular.svg#Akrobat-Regular') format('svg'),
       url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype');
  unicode: U+0400—04FF;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/latomedium.eot');
  src: url('../fonts/latomedium.woff2') format('woff2'),
       url('../fonts/latomedium.woff') format('woff'),
       url('../fonts/latomedium.ttf') format('truetype'),
       url('../fonts/latomedium.svg#Akrobat-Bold') format('svg'),
       url('../fonts/latomedium.eot?#iefix') format('embedded-opentype');
  unicode: U+0400—04FF;
  font-weight: 500; // medium
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.eot');
  src: url('../fonts/Lato-Bold.woff2') format('woff2'),
       url('../fonts/Lato-Bold.woff') format('woff'),
       url('../fonts/Lato-Bold.ttf') format('truetype'),
       url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype');
  unicode: U+0400—04FF;
  font-weight: 700; //bold
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Heavy.eot');
  src: url('../fonts/Lato-Heavy.woff2') format('woff2'),
       url('../fonts/Lato-Heavy.woff') format('woff'),
       url('../fonts/Lato-Heavy.ttf') format('truetype'),
       url('../fonts/Lato-Heavy.eot?#iefix') format('embedded-opentype');
  unicode: U+0400—04FF;
  font-weight: 800; //heavy
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Black.eot');
  src: url('../fonts/Lato-Black.woff2') format('woff2'),
       url('../fonts/Lato-Black.woff') format('woff'),
       url('../fonts/Lato-Black.ttf') format('truetype'),
       url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype');
  unicode: U+0400—04FF;
  font-weight: 900; //black
  font-style: normal;
}


.tal{
	text-align: left!important;
}
.tar{
	text-align: right!important;
}
.tac{
	text-align: center!important;
}

._faded{
	position: relative;
	margin-top:-50px;
	opacity: 0;
	@include anim(2s);
}

._show{
	margin-top: 0;
	opacity: 1!important;
}

._photo-anim{
	@include fadeIn(1s)
}


@keyframes rotate {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}

@keyframes moveBg {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(1turn);
    }
}


@keyframes pulsate {
	0% {
		opacity: 0.5;
		transform: scale(0.7)
	}
	50%{
		opacity: 1.0;
		transform: scale(1.0)
	}
	100%{
		opacity: 0.5;
		transform: scale(0.7)
	}
}

@keyframes meteor {
	from{
		transform: translate(0%, 0%) scale(0.4);
	}
	to{
		transform: translate(-3000px, 1000px) scale(1);
	}
}

@keyframes scaleIn {
	from{
		
		transform: scale(1);
	}
	to{
		box-shadow: 0px 3px 54px 0px rgba(0, 33, 87, 0.28);
		transform: scale(1.03);
	}
}

.scaleOut {
  transform-origin: 8% 50% !important;
  opacity: 1 !important;
  transform: scale(1) !important;
}