
@media screen and (min-width: $screen-sm-min) {
	h1{
		font-size: 40px;
		line-height: 60px;
	}
	h2{
		font-size: 36px;
		line-height: 42px;
	}
	.header{
		height: auto;
		.orbits{
			position: absolute;
			top: 0;
			left: 0%;
			width: 100%;
			height: 100%;
			.orbit{
				position: absolute;
				left: 0%;
				top: 0%;
				
				&--small{
					width: 500px;
					height: 500px;
					left: 18%;
					top: 11%;
					&:before{
						margin-top: 14%;
					}
				}
				&--medium{
					width: 640px;
					height: 640px;
					left: 5%;
					top: 2%;
					&:before{
						margin-top: 10%;
					}
				}
				&--large{
					width: 700px;
					height: 700px;
					left: -3%;
					top: -3%;
					&:before{
						margin-top: 24%;
					}
				}
			}
		}
		.header__vawes svg{
			left: 0;
			width: 100%;
		}
		.header__logo {
			text-align: left;
	}


	}
	.header__phone {
		font-size: 20px;
	}
	.cards, .feat, .forms{
		height: 100vh;
	}
	.cards{
		padding-top: 280px;
		padding-bottom: 220px;
		min-height: 0;
		margin-top: 0px;
		height: auto;
		.orbits{
			top: 13%;
			z-index: 3;
			.orbit{
				&--small{
					width: 320px;
					height: 320px;
				}
				&--medium{
					width: 380px;
					height: 380px;
				}
				&--large{
					width: 440px;
					height: 440px;
				}
				&--extralarge{
					width: 680px;
					height: 680px;
				}
			}
		}

		h2{
			max-width: 720px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.feat{
		margin-top: -250px;
		height: auto;
		padding-bottom: 40px;
		.orbits{
			left: 0%;
			top: 15%;
		}
	}
	.forms{
		min-height: 1383px;
		height: auto;
		margin-top: -250px;
	}



}



@media screen and (min-width: $screen-md-min){
	h1{
		font-size: 57px;
		line-height: 70px;
	}
	h2{
		font-size: 48px;
		line-height: 53px;
	}
	.forms .jumbotron p {
		max-width: 65%;
	}
	.card{
		margin-bottom: 0;
	}
	.header{
		height: calc(100vh - 300px);
		min-height: 1000px;
		.orbits{
			.orbit{
				&--small{
					left: 50%;

				}
				&--medium{
					left: 36%;
				}
				&--large{
					left: 23%;
				}
			}
		}
	}
	.header__pattern{
		svg{	
			transform: scale(1.5);
		}
	}
	.box__laptop{
		right: -40px;
		position: relative;
	}
	.header__box {
		margin-top: 60px;
		text-align: left;
		h1,p{
			text-align: left;
		}
	}

}


@media screen and (min-width: $screen-lg-min){
	.header{
		min-height: 1120px;
		h1{
			font-size: 67px;
			line-height: 90px;
		}
		.orbits{
			position: relative;
			top: -100%;
			right: 0;
			.orbit{
				position: absolute;
				top: 50%;

					&--large{
						width: 2580px;
						height: 2580px;
						left: 2.16%;
						top: -50%;
						transform: translateY(-50%);
				
					&:before{
						margin-left: -0.6% !important;
						margin-top: 41%;
					}
					
				}
				&--medium{
					width: 1250px;
					height: 1250px;
					left: 38.2%;
					top: 8%;
					
					
					&:before{
						margin-left: 9.5% !important;
						margin-top: 15%;
					}
					
				}
				&--small{
					width: 450px;
					height: 450px;
					left: 59.6%;
					top: 50%;
					transform: translateY(-50%);
					
					&:before{
						margin-left: 11% !important;
						margin-top: 5%;
					}
					
				}
			}
		}
		&__top{
			padding: 2em 0;
		}
		
	}
	.header__top{
		padding: 3em 2em;
	}
	.header__phone{
		font-size: 18px;
	}
	.header__box{
		margin-top: 100px;
	}
	.box__laptop {
		right: -170px;
		top: 40px;
	}

	.feat {
		padding-top: 300px;
		padding-bottom: 20px;
		min-height: 1220px;
		z-index: 2;
		.orbits{
			left: 15%;
		}
	}
	.feat__outer {
		margin-top: 75px;
	}
	.forms{
		margin-top: -241px;
		padding-bottom: 100px;
		padding-top: 260px;
		.jumbotron{
			h2{
				margin-bottom: 25px;
				letter-spacing: 0.015em;
			}
			p{
				font-size: 24px;
				line-height: 30px;
			}
		}
		.form-block{
			margin-top: 110px;
		}
	}
	.cards{
		padding-bottom: 340px;
		margin-top: -198px;
		z-index: 1;
		.orbits{
			position: absolute;
			left: 0%;
			top: 0%;
			width: 100%;
			max-width: 2560px;
			height: 100%;
			z-index: 1;
			min-height: 1090px;
			overflow: hidden;
		.orbit{
			border-radius: 50%;
			border: 1px solid #92bae4;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			opacity: 0.5;
			
			&--large{
				width: 1669px;
				height: 1719px;
				
			}
			&--medium{
				width: 1025px;
				height: 1025px;
				
			}
			
			&--small{
				width: 566px;
				height: 566px;
			
			}
			
		}
	}
	}
}
@media screen and (min-width: $screen-md-min) {
	.footer__head {
		margin-top: 0px;
	}
}
@media screen and (max-width: 1200px) {
	.forms{
		.forms__bg{
			&--1{
				top: 33px;
			}
			&--2{
				top: 33px;
			}
		}
	}
	.feat-video video {
		min-height: 280px;
	}
	.orbits {
		.orbit{
			&--small {
				&:after{
					transform: rotate(135deg);
				}
			}
			&--medium {
				&:after{
					transform: rotate(142deg);
				}
			}
			&--large {
				&:after{
					transform: rotate(122deg);
				}
			}
		}
	}
}

@media screen and (max-width: 991px){
	.feat{
		margin-top: -310px;
	}
	.forms{
		margin-top: -260px;
	}
	.feat-video {
		box-shadow: none;
	}
}
@media screen and (max-width: 767px) {
	.header {
		padding-bottom: 300px;
	}
	.forms{
		margin-top: -300px;
	}
	header .header__logo{
		top: 0;
	}
	.feat {
		margin-top: -350px;
	}
	
	.cards__pattern {
		top: 100px;
	}
	.cards {
		padding-top: 450px;
		margin-top: -100px;
	}

	
}

@media screen and (max-width: 479px) {
	.forms{
		margin-top: -320px;
	}
	.header__pattern{
		top: -5px;
		svg{
			transform: scale(1.1);
		}
	}
	
	.cards {
		margin-top: -150px;
	}
	.header__phone {
		a{
			line-height: 1.6;
			font-size: 16px;
		}
		
	}
	.header{
			.svg--responsive{
				top: 0;
			}
		}
}