// typo
// typo
body{
	color: #3d3741;
	font-weight: 500;
}
h1{
	font-size: 28px;
	line-height: 35px;
	font-weight: 900;
	letter-spacing: 0.04em;
	text-transform: uppercase;
}
h2{
	font-size: 26px;
	line-height: 33px;
	letter-spacing: 0.03em;
	font-weight: 800;
}

.btn-primary{
	background-color: rgb(224, 27, 77);;
  border-radius: 3px;
  padding: 1em 2em;
  border: none;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
  transition: all ease 0.2s;
  font-weight: 700;
  &:hover{
  	background-color: rgba(224, 27, 77, 0.9);
  }
}


