	<footer class="footer text-invert">
		<div class="footer__top text-center">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-4">
						<h4>Контактная информация</h4>
						<p>Тверь, ул. Брагина, д. 2, <br> Выставочный центр «Гермес», этаж 2 <br> +7 920 695-00-33</p>
					</div>
					<div class="col-xs-12 col-md-4">
						<h4>мы в социальных сетях</h4>
						<div class="footer__soc">
							<a href="">	
								<img src="img/vk-icon.png" alt="">
							</a>
							<a href="">	
								<img src="img/fb-icon.png" alt="">
							</a>
							<a href="">	
								<img src="img/insta-icon.png" alt="">
							</a>
						</div>
					</div>
					<div class="col-xs-12 col-md-4">
						<a href="" class="footer__head" download=""><img src="img/download-icon.png" alt="">Скачать бриф</a>
						<p>
							 Вы точно знаете камим хотите <br> видеть ваш будущий видеоролик? <br> Скачайте и заполните бриф.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="footer__bottom">
			<div class="container">
				<div class="text-center">
					© 2017. Все права защищены <br />Сделано с <img src="img/like-icon.png" alt=""><a href="">студией дизайна Холмакс</a>
				</div>
			</div>
		</div>
		
	</footer>
	
	<!-- Holmax : jquery setting -->
	<script src="js/jquery.js"></script>
	<script src="js/TweenMax.js"></script>
	<script src="js/ScrollToPlugin.min.js"></script>
	<script src="js/ScrollMagic.js"></script>
	<script src="js/animation.gsap.js"></script>
	<script src="js/jquery.holmax.js"></script>
	

	<!-- Bootstrap : bootstrap -->
	<script src="js/bootstrap.js"></script>
