<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" type="image/png" href="img/favicons/holmax_favicon_16.png" sizes="16x16">
<link rel="icon" type="image/png" href="img/favicons/holmax_favicon_32.png" sizes="32x32">
<link rel="icon" type="image/png" href="img/favicons/holmax_favicon_96.png" sizes="96x96">
<link rel="apple-touch-icon" sizes="57x57" href="img/favicons/holmax_favicon_57.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/favicons/holmax_favicon_114.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/favicons/holmax_favicon_72.png">
<link rel="apple-touch-icon" sizes="144x144" href="img/favicons/holmax_favicon_144.png">
<link rel="apple-touch-icon" sizes="60x60" href="img/favicons/holmax_favicon_60.png">
<link rel="apple-touch-icon" sizes="120x120" href="img/favicons/holmax_favicon_120.png">
<link rel="apple-touch-icon" sizes="76x76" href="img/favicons/holmax_favicon_76.png">
<link rel="apple-touch-icon" sizes="152x152" href="img/favicons/holmax_favicon_152.png">

<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">

<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/holmax.css">