<header class="header text-invert">
	<div class="header__top">
		<div class="container">
			<div class="row">
				<div class="col-xs-6">
					<div class="header__logo">
						<a href="//holmax.ru" target="_blank">
							<svg class="svg--responsive" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 208 32">
  							<g fill="#BF204D">
    							<path d="M15.851 17.133v-4.535L9.732 6.34l-4.435 4.535 6.119 6.258zM22.123 17.133h4.435l6.12-6.258-4.435-4.535-6.12 6.258zM15.851 23.547h-4.434l-6.12 6.258 4.435 4.535 6.119-6.258zM26.558 23.547h-4.435v4.535l6.12 6.258 4.435-4.535z"/>
  							</g>
  							<g fill="#FFF">
    							<path d="M48.719 12.121h3.536v6.504h6.521v-6.504h3.536v16.437h-3.536V21.96h-6.521v6.598h-3.536V12.121zM66.718 20.34c0-4.673 3.605-8.5 8.565-8.5s8.519 3.781 8.519 8.5c0 4.673-3.605 8.5-8.565 8.5-4.96 0-8.519-3.78-8.519-8.5zm13.387 0c0-2.818-2.02-5.166-4.868-5.166-2.847 0-4.822 2.301-4.822 5.166 0 2.818 2.021 5.166 4.868 5.166s4.822-2.302 4.822-5.166zM87.723 12.121h3.536V25.27h8.014v3.287h-11.55V12.121zM104.056 12.121h3.812l4.225 6.95 4.225-6.95h3.812v16.437h-3.513V17.827l-4.524 7.021h-.092l-4.478-6.95v10.66h-3.467V12.121zM131.864 12.004h3.26l6.889 16.554h-3.697l-1.47-3.686h-6.797l-1.47 3.686h-3.605l6.89-16.554zm3.719 9.674l-2.135-5.33-2.135 5.33h4.27zM150.766 20.199l-5.373-8.077h4.133l3.376 5.33 3.398-5.33h4.018l-5.373 8.031 5.603 8.406h-4.133l-3.605-5.636-3.628 5.636h-4.019l5.603-8.36zM165.806 24.801h3.72v3.757h-3.72v-3.757zM175.584 12.121h7.348c2.044 0 3.628.587 4.684 1.667.895.916 1.378 2.207 1.378 3.804 0 2.653-1.401 4.321-3.444 5.095l3.927 5.871h-4.133l-3.49-5.26h-2.733v5.26h-3.536V12.121zm7.118 7.984c1.722 0 2.71-.939 2.71-2.372 0-1.55-1.056-2.348-2.779-2.348h-3.513v4.72h3.582zM194.289 21.514v-9.392h3.536v9.298c0 2.677 1.309 4.062 3.467 4.062 2.158 0 3.467-1.338 3.467-3.945v-9.416h3.536v9.275c0 4.978-2.733 7.42-7.049 7.42-4.316.001-6.957-2.465-6.957-7.302z"/>
  							</g>
							</svg>
						</a>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="header__phone text-right">
						<a href="tel:+78004658088">8-800-465-80-88</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header__box">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<h1>Создание видеороликов &laquo;под ключ&raquo;</h1>
					<div class="box__laptop hidden-md hidden-lg"><img src="img/monoblock.png" alt=""></div>
					<p>Создадим хорошее впечатление о вашей компании, правильно презентуем ваш продукт или услугу и&nbsp;сэкономим рекламный бюджет.</p>
					<button class="btn btn-primary btn-large js-toForm">Заказать ролик</button>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="box__laptop hidden-xs hidden-sm"><img src="img/monoblock.png" alt=""></div>
				</div>
			</div>
			
		</div>
	</div>
	<div class="header__pattern">
		<svg  preserveAspectRatio="none" width="1920px" height="1086" viewbox="0 0 1920 1086" class="header__vawe" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			<defs>
				<linearGradient id="headerGradient" x1="0%" y1="64%" x2="76%" y2="0%">
					<stop offset="11%" stop-color="#6254C8" stop-opacity="0.54"></stop>
					<stop offset="99%" stop-color="#FFC6D2" stop-opacity="0.64"></stop>
				</linearGradient>
				
			 <!--  <pattern id="img1" patternUnits="objectBoundingBox" width="100%" height="100%" preserveAspectRatio="none">
			    <image xlink:href="img/header-gradient.png" x="0" y="0" />
			  </pattern> -->
			</defs>
			<path  class="grad_base" fill="#000033" d="M1941.000,4.000 L1943.000,881.000 C1943.181,879.452 1826.121,1002.000 1684.000,1002.000 C1575.380,1002.000 1524.771,959.000 1355.000,959.000 C1195.133,959.000 1166.986,1050.968 894.000,1051.000 C712.730,1051.021 690.934,1010.101 500.898,1009.987 C352.735,1009.898 322.982,1088.035 0.000,1092.000 C2.381,1094.381 7.000,0.000 7.000,0.000 L1941.000,4.000 Z"/>
			<path  class="grad1" fill="url(#headerGradient)" d="M1941.000,4.000 L1943.000,881.000 C1943.181,879.452 1826.121,1002.000 1684.000,1002.000 C1575.380,1002.000 1524.771,959.000 1355.000,959.000 C1195.133,959.000 1166.986,1050.968 894.000,1051.000 C712.730,1051.021 690.934,1010.101 500.898,1009.987 C352.735,1009.898 322.982,1088.035 0.000,1092.000 C2.381,1094.381 7.000,0.000 7.000,0.000 L1941.000,4.000 Z"/>
		</svg>
	</div>
	<div class="header__vawes hidden-xs">
		<svg preserveAspectRatio="none" id="headerVaweOne" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1937px" height="250px">
			<defs>
			<linearGradient id="PSgrad_1" x1="0%" x2="12.187%" y1="99.255%" y2="0%">
			  <stop offset="11%" stop-color="rgb(98,84,200)" stop-opacity="0.44" />
			  <stop offset="59%" stop-color="rgb(177,141,205)" stop-opacity="0.44" />
			  <stop offset="99%" stop-color="rgb(255,198,210)" stop-opacity="0.44" />
			</linearGradient>

			</defs>
			<path fill-rule="evenodd"  opacity="0.54" fill="rgb(51, 44, 127)" d="M37.400,98.999 C74.963,49.016 137.430,-0.000 190.092,-0.000 C271.085,-0.000 290.169,93.000 415.383,93.000 C540.596,93.000 649.518,5.999 796.144,5.999 C942.769,5.999 1054.484,90.999 1167.595,90.999 C1280.706,90.999 1358.907,16.000 1474.810,16.000 C1590.714,16.000 1657.278,94.000 1786.680,94.000 C1916.083,94.000 1935.679,36.000 1936.000,36.000 C1932.339,47.660 1937.000,278.000 1937.000,278.000 L3.000,273.000 C3.000,273.000 -14.494,168.052 37.400,98.999 Z"/>
			<path fill="url(#PSgrad_1)" d="M37.400,98.999 C74.963,49.016 137.430,-0.000 190.092,-0.000 C271.085,-0.000 290.169,93.000 415.383,93.000 C540.596,93.000 649.518,5.999 796.144,5.999 C942.769,5.999 1054.484,90.999 1167.595,90.999 C1280.706,90.999 1358.907,16.000 1474.810,16.000 C1590.714,16.000 1657.278,94.000 1786.680,94.000 C1916.083,94.000 1935.679,36.000 1936.000,36.000 C1932.339,47.660 1937.000,278.000 1937.000,278.000 L3.000,273.000 C3.000,273.000 -14.494,168.052 37.400,98.999 Z"/>
		</svg>
		<svg preserveAspectRatio="none" id="headerVaweTwo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1943px" height="276px">
			<defs>
				<linearGradient id="PSgrad_2" x1="0%" x2="12.187%" y1="99.255%" y2="0%">
				  <stop offset="11%" stop-color="rgb(98,84,200)" stop-opacity="0.44" />
				  <stop offset="59%" stop-color="rgb(177,141,205)" stop-opacity="0.44" />
				  <stop offset="99%" stop-color="rgb(255,198,210)" stop-opacity="0.44" />
				</linearGradient>
			</defs>
			<path fill-rule="evenodd"  opacity="0.54" fill="rgb(51, 44, 127)" d="M1982.000,154.000 C1982.000,55.922 1866.565,-0.000 1810.006,-0.000 C1723.018,-0.000 1702.521,93.000 1568.039,93.000 C1433.557,93.000 1316.573,6.000 1159.095,6.000 C1001.616,6.000 881.633,91.000 760.150,91.000 C638.666,91.000 554.678,16.000 430.195,16.000 C305.712,16.000 234.222,94.000 95.241,94.000 C18.493,94.000 -21.599,71.000 -21.000,71.000 C-22.020,72.287 18.000,276.000 18.000,276.000 C18.000,276.000 1988.762,269.248 1983.000,261.000 C1981.753,259.215 1982.582,163.568 1982.000,154.000 Z"/>
			<path fill="url(#PSgrad_2)" d="M1982.000,154.000 C1982.000,55.922 1866.565,-0.000 1810.006,-0.000 C1723.018,-0.000 1702.521,93.000 1568.039,93.000 C1433.557,93.000 1316.573,6.000 1159.095,6.000 C1001.616,6.000 881.633,91.000 760.150,91.000 C638.666,91.000 554.678,16.000 430.195,16.000 C305.712,16.000 234.222,94.000 95.241,94.000 C18.493,94.000 -21.599,71.000 -21.000,71.000 C-22.020,72.287 18.000,276.000 18.000,276.000 C18.000,276.000 1988.762,269.248 1983.000,261.000 C1981.753,259.215 1982.582,163.568 1982.000,154.000 Z"/>
		</svg>
		<svg preserveAspectRatio="none" id="headerVaweThree" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1943px" height="281px">
			<defs>
				<linearGradient id="PSgrad_3" x1="0%" x2="12.187%" y1="99.255%" y2="0%">
	  			<stop offset="11%" stop-color="rgb(98,84,200)" stop-opacity="0.52" />
	  			<stop offset="59%" stop-color="rgb(177,141,205)" stop-opacity="0.44" />
	  			<stop offset="99%" stop-color="rgb(255,198,210)" stop-opacity="0.44" />
				</linearGradient>
			</defs>
			<path fill-rule="evenodd"  opacity="0.54" fill="rgb(51, 44, 127)" d="M-11.000,3.000 C76.000,3.000 96.500,96.000 231.000,96.000 C365.500,96.000 482.500,9.000 640.000,9.000 C797.500,9.000 917.500,94.000 1039.000,94.000 C1160.500,94.000 1244.500,19.000 1369.000,19.000 C1493.500,19.000 1565.000,97.000 1704.000,97.000 C1843.000,97.000 1873.000,-0.000 1960.000,-0.000 C2047.000,-0.000 1982.000,276.000 1982.000,276.000 C1982.000,276.000 101.243,283.000 16.000,283.000 C16.000,226.340 -28.000,128.000 -28.000,128.000 C-28.000,128.000 -98.000,3.000 -11.000,3.000 Z"/>
			<path fill="url(#PSgrad_3)" d="M-11.000,3.000 C76.000,3.000 96.500,96.000 231.000,96.000 C365.500,96.000 482.500,9.000 640.000,9.000 C797.500,9.000 917.500,94.000 1039.000,94.000 C1160.500,94.000 1244.500,19.000 1369.000,19.000 C1493.500,19.000 1565.000,97.000 1704.000,97.000 C1843.000,97.000 1873.000,-0.000 1960.000,-0.000 C2047.000,-0.000 1982.000,276.000 1982.000,276.000 C1982.000,276.000 101.243,283.000 16.000,283.000 C16.000,226.340 -28.000,128.000 -28.000,128.000 C-28.000,128.000 -98.000,3.000 -11.000,3.000 Z"/>
	 </svg>
	</div>
	<div class="orbits hidden-xs">
		<div class="orbit orbit--small"></div>
		<div class="orbit orbit--medium"></div>
		<div class="orbit orbit--large"></div>
	</div>
	<div class="stars">
		<div class="star star-1"></div>
		<div class="star star-2"></div>
		<div class="star star-3"></div>
		<div class="star star-4"></div>
		<div class="star star-5"></div>
		<div class="star star-6"></div>
		<div class="star star-7"></div>
		<div class="star star-8"></div>
		<div class="star star-9"></div>
		<div class="star star-10"></div>
		<div class="star star-11"></div>
	</div>
</header>